a,
a:hover {
  color: white;
}

/* .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.col-3 {
  width: 23%;
  padding: 1%;
}
.col-8{
    width: 180px;
} */
.h-150 {
  height: 150px;
}
.radius-10 {
  border-radius: 10px;
}
.home-card {
  width: 100%;
  height: 100%;
}
.home-bgimg {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: all 0.5s;
}
.img-slide,
.pannel-img {
  opacity: 0.7;
  transition: all 0.5s;
}
.img-skew {
  transform: skewX(3deg);
}
.home-card:hover .home-bgimg,
.home-card:hover .img-slide,
.pannel-box:hover .pannel-img {
  opacity: 0.3;
  transform: skewX(3deg);
}
.icon-35 {
  opacity: 0;
  transition: all 0.5s;
  font-size: 35px;
}
.icon-70 {
  opacity: 0;
  transition: all 0.5s;
  font-size: 70px;
}
.home-card:hover .icon-35,
.pannel-box:hover .icon-70,
.icon-35:hover {
  opacity: 1 !important;
}
.position-rel {
  position: relative;
}
.position-abs {
  position: absolute;
}
.abs-items-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position-abs .abs-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.abs-bottom {
  bottom: 0;
}
.abs-top-left {
  top: 0;
  left: 0;
}
.abs-bottom-left {
  bottom: 0;
  left: 0;
}
.abs-bottom-right {
  bottom: 0;
  right: 0;
}
.text-small {
  font-size: 12px;
}
.h-5 {
  font-size: 14px;
}

@media (max-width: 680px) {
}

@media (max-width: 480px) {
}
