.content-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.content-bottom {
  position: absolute;
  bottom: 5px;
  /* left: 12px; */
}
.mw-40 {
  width: 45%;
}
.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px;
  opacity: 0.7;
  /* position: relative; */
}
.blur-image {
  filter: blur(8px);
  -webkit-filter: blur(3px);
}
.text-btn {
  text-align: center;
  font-size: 12px;
}
.text-des {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7; /* number of lines to show */
  -webkit-box-orient: vertical;
}
